* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: BebasNeue-Bold;
    src:url("../fonts/bebasneue-bold.otf");
}

@font-face{
	font-family: Merriweather-Regular;
    src:url("../fonts/merriweather-regular.ttf");
}

body{
	background-color: #3E5E4D;
}

header{
	height: 10.74vh;
	background-color: #252422;
}

	#header-logo {
	float: left;
	max-width: 33.33%;
	clear: left;
	}

section {
	width:66.6vw;
	max-width: 1280px;
	height: 60vh;
	margin: auto;
}

nav.top {
	width: 66.6vw;
	max-width: 1280px;
	margin: auto;
}

nav.side-scroll {
	position: fixed;
	top: 45vh;
	right: 5vw;
	opacity: 50%;
}

nav.top ul{

	display: inline-block;
    list-style: none;
    padding: 0px;
    
    font-family: 'BebasNeue-Bold', cursive;
    font-size: 1.23vw;
}

ul {
	list-style-type: none;
}

nav.top li{
	display: inline-block;
    padding: 1.3vw .7vw 0px .7vw;
    line-height: 2vw;
}

	nav.top li a{
	    color: #F2F2F2;
	    text-decoration: none;    
	}

	nav.top li a:hover{
	    text-decoration: underline;
	}

nav figure {
	width: 2vw;
	height: 2vw;
	border: 0.2vw solid white;
	background-color: black;
	border-radius: 50%;
	margin-bottom: 1vw;
}

	nav figure:hover {
		background-color: white;
		border-color: black;
	}

form {
	display: inline-block;
	float: right;
	clear: right;
	padding-top: 1.3vw;
}
	input[type=text]{
		border: 0px;
		border-radius: 6px;
		padding: 12px 0px 12px 12px;
		width: 16vw;
		transform: translateX(1.5vw);
	}

	input[type=image]{
		
		transform: translate(-.5vw,.3vh);
		width: 1.5vh;

	}

.carousel {

	width: 100%;
}

.carousel-offer {
	width: 24vw;
	height: 6vw;
	background-color: #D82A2B;

	float: right;
	clear: right;

	border: 0px;
	border-radius: 16px 0px 0px 16px;
	transform: translateY(-10vw);
}

	.carousel-offer h2 {
		font-family: BebasNeue-Bold;
		font-size: 2vw;
		color: #FFFCF2;
		padding-top: 1.5vw;
		padding-left: 1.5vw;
	}

	.carousel-offer a {
		font-family: Merriweather-Regular;
		font-size: 1vw;
		color: #99856B;
		padding-top: .2vw;
		padding-left: 1.5vw;
	}

figure.fotorama {
	width: 66.6vw;
	margin: 2vh auto;
}

#two {
	text-align: center;
	height: 80vh;
}

#map {
	
}

.blurb {
	font-family: merriweather-regular;
	font-size: 2vh;
	padding-top: 4vh;
	color: #F2F2F2;
}