@font-face{
	font-family: MontserratRegular;
    src:url("../fonts/Montserrat-Regular.ttf");
}
@font-face{
	font-family: MontserratBold;
    src:url("../fonts/Montserrat-Bold.ttf");
}
@font-face{
	font-family: RobotoSlab;
    src:url("../fonts/RobotoSlab.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 360px;
	margin: auto;
}

.primary-img {
	height: 100%;
}

.tile {
	width: 344px;
	margin: 18px auto;
	border-radius: 5px;
}

.tile img {
	width: 100%;
}

.header {
	height: 80px;
	background-color: gray;
}

.header img {
	width: 100%;
}

.header-tablet{
		display: none;
	}

.grid-container{
	display: grid;
	grid-template-columns: 60% 40%;
	height: 80px;
}

.donate{
	background-color: #191966;
	color: white;
	font-family: MontserratRegular, sans-serif;
	text-align: center;
	z-index: 1;
}

.donate:active {
	background-color: white;
	color: #191966;
	border: 3px solid #191966;
}

.donate h2 {
	margin-top: 25px;
}

.donate:active h2 {
	margin-top: 22px;
}

.menu {
	background-color: white;
	position: relative;
	z-index: 2;
	border-top: 3px solid #191966;
	border-bottom: 3px solid #191966;
}

.menu img {
	width: 40px;
	position: absolute;
	top: 20px;
	right: 16px;
}

.menu h3 {
	color: #191966;
	font-family: MontserratRegular, sans-serif;
	display: inline-block;
	position: relative;
	top: 28px;
	left: 16px
}

.toggleDiv {
	width: 100%;
	height: 100%;
}

#toggleAssist,
.nav-links {
	display: none;
	position: absolute;
	width: 144px;
	
	top: 70px;
	right: 0px;
	background-color: white;
	z-index: 2;
}

#toggleAssist:checked + .nav-links {
	display: inline-block;
}

.nav-links ul {
	list-style: none;
}

.nav-links a {
	color: #191966;
	text-decoration: none;
	font-family: RobotoSlab;
}
.nav-links li {
	padding: 18px 0px 18px 16px;
	border-bottom: 3px solid #191966;
}

.hero {
	height: 200px;
	text-align: center;
	margin-top: 16px;
}

.slogan {
	height: 120px;
	background-color: #191966;
	color: white;
	font-family: MontserratRegular, sans-serif;
}

.slogan h2 {
	padding: 20px;
}

.club-meet-announcement {
	height: 160px;
	background-color: #fffb66;
	color: #191966;
	font-family: MontserratRegular, sans-serif;
	text-align: center;
}

.p1 {
	padding: 16px 0px 8px 0px;
}

.p2 {
	padding: 8px 0px;
}

.p3 {
	padding: 0px 8px;
}

.carousel {
  background: #EEE;
}

.main-carousel:after {
  content: 'flickity';
  display: none;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

.cc1 {
	background-image: url("../img/cc1.jpg");
	background-size: cover;
}

.cc2 {
	background-image: url("../img/cc2.jpg");
	background-size: cover;
}

.cc3 {
	background-image: url("../img/cc3.jpg");
	background-size: cover;
}

.cc4 {
	background-image: url("../img/cc4.jpg");
	background-size: cover;
}

.cc5 {
	background-image: url("../img/cc5.jpeg");
	background-size: cover;
}

@media(min-width: 768px){
	body{
		width: 768px;
	}

	.tile {
		width: 752px;
	}

	.header {
		height: 100px;
	}

	.header-phone{
		display: none;
	}
	.header-tablet{
		display: block;
	}
	
	.grid-container{
		grid-template-columns: 400px 1.1fr 1fr;
		height: 100px;
	}

	#toggleAssist,
	.nav-links {
		width: 175px;
	}
	.donate h2 {
		margin-top: 35px;
	}

	.donate:active h2 {
		margin-top: 32px;
	}

	.menu img {
		top: 30px;
	
	}

	.menu h3 {		
		top: 38px;
	}

	.slogan {
		text-align: center;
	}

	.carousel-cell {
		height: 300px;
	}
}

@media(min-width: 1440px){
	body{
		width: 1440px;
	}

	.main-carousel:after {
    	content: '';
  	}

  	.donate:active h2 {
		margin-top: 0px;
	}

	.donate:hover {
		border: 3px solid white;
	}

	.donate:hover h2 {
		margin-top: 32px;
	}
}