fieldset.contact-page {
	height: 40vh;
	background-color: #58AE69;
}

.contact-page div {
	margin: auto;
    width: 30%;
	padding: 10px;
}

.contact-page label,
.contact-page input {
	float: left;
}

.contact-page label {
	color: white;
	font-family: Handlee;
}

.contact-page input {
	width: 100%;
}

.contact-page p{
	width: 36vw;
	margin: auto;
	padding: 1em;
	text-align: left;
	font-family: KronaOne;
	font-size: .9em;
}

.contact-page img{
	border: 2vw solid white;
	border-radius: 16px;
}

.clear-left{
	clear: left;
}

.single-line-field{
	height: 2vh;
	border-radius: 8px;
	padding: 4px;
}

.multi-line-field{
	height: 12vh;
	border-radius: 8px;
	padding: 4px;
	width: 100%
}

h2.contact{
	font-family: Handlee;
	font-size: 2em;
	text-align: center;
	color: #349e48;
}