.grid-container {
    display: grid;
    
    grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4] 1fr [h-line-5];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3];

    grid-gap: 12px;

    height: 100vh;
}

.gd-1{
    grid-column: 1 / 3;
    padding: 8px;
}

.gd-1 h1 {
    font-family: DancingScript;
    font-size: 32px;
    padding-bottom: 4px;
}

.gd-1 h3 {
    font-family: Merriweather;
    font-size: 16px;
}

.gd-2{
    background-image: url("../img/adolf-dulan.jpg");
    background-size: cover;
    background-position: center;
}

.gd-3 {
    grid-row: 2/4;
    padding: 8px;
    font-family: Merriweather;
    font-size: 16px;
}

.gd-4{
    background-image: url("../img/dulans-food1.jpg");
    background-size: cover;
    background-position: center;
}

.gd-5 {
    grid-row: 3/h-line-5;
    background-image: url("../img/dulans-menu.jpg");
    background-size: cover;
    background-position: center;
}

@media(min-width: 560px){
    .grid-container {
        display: grid;
        /* grid-template-rows: [h-line-1 firstH] 50% [h-line-2] 50% [h-line-3]; */
        grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
        grid-template-columns: [v-line-1] 300px [v-line-2] auto [v-line-3] 300px [v-line-4];

        grid-gap: 15px;

        /*height: 400px;*/

        width: 540px;
        margin: auto;
    }

    .gd-3 {
        grid-column: v-line-3 / v-line-4;
        grid-row: 1 / h-line-3;
    }

    .gd-4, .gd-5 {
        grid-row: h-line-2 / h-line-4;
    }

    .gd-6 {
        grid-row: h-line-3 / h-line-4;
    }
}

@media(min-width: 768px){
    .grid-container {
    width: 90%;
    }
}
