@import url("grid.css");
@import url("colors.css");
@import url("form.css");

* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: DancingScript;
    src:url("../fonts/DancingScript.ttf");
}

@font-face{
	font-family: BebasNeue;
    src:url("../fonts/BebasNeue-Bold.otf");
}

@font-face{
	font-family: Merriweather;
    src:url("../fonts/merriweather-regular.ttf");
}

body{
	background-color: #D7D7D7;
}

header{
	width: 100%;
	background-color: #252422;
}
.logo {
    max-width: 100px;
    margin: 10px;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 10px;
}

#toggleAssist,
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}

nav.side-scroll {
	display: none;
	position: fixed;
	top: 45vh;
	right: 5vw;
	opacity: 50%;
}

ul {
	list-style-type: none;
}

ul.nav-links {
    list-style: none;
    padding: 0px;
    text-align: right;
    font-family: 'BebasNeue', cursive;
    font-size: 30px;
}

.nav-links li {
    padding: 10px 12px 5px 0px;
}

.nav-links a{
    color: #F2F2F2;
    text-decoration: none;    
	}

.nav-links a:hover{
	text-decoration: underline;
	}

nav figure {
	width: 2vw;
	height: 2vw;
	background-color: black;
	border-radius: 50%;
	margin-bottom: 1vw;
}

	nav figure:hover {
		background-color: white;
	}

form {
	padding-top: 1.3vw;
}

.home-image{
	width: 100%;
}

.gd-1-large,
.gd-1-med {
    	display: none;
    }

.menu-image{
    width: 100%;
}

.menu-sm{
width:100%;
} 

@media(min-width: 560px){
	.gd-1-med {
    	display: block;
    	font-size: 16px;
    	padding-top: 8px;
    }
    .gd-3-small {
    	display: none;
    }

    .menu-med{
    	width: 540px;
    	margin: auto;
}

}    

@media (min-width: 769px) {
    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;
        float: right;
        margin-right: 24px;
    }

    .nav-links li {
        display: inline-block;
        padding: 10px;
        border-bottom: none;
    }

    main {
        /*width: 650px;*/
        margin: auto;
    }
    nav.side-scroll {
    	display: block;
    }

    .gd-1-large {
    	display: block;
    	font-family: Merriweather;
    	font-size: 18px;
    	padding-top: 16px;
    	column-count: 3;
    }
    .gd-1-med {
    	display: none;
    }

    .gd-3-small {
    	display: none;
    }

    .menu-lrg{
    	width: 760px;
    	margin: auto;
}
}

